@{
    ViewData["Title"] = "Products";
}
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Shop" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="text-center">
    <h1 class="display-4">Products</h1>
    <p>This is the Products List Page.</p>
</div>
